.basic-container {
    width: 100%;
    display: flex;
    /* border: 1px solid black; */
    box-sizing: border-box;
}

.basic-container__data {
    width: 100%;
    max-width: 100%;
}

.basic-info-cont table td,
.address-info-cont table td,
.contact-info-cont table td{
    padding: 10px;
    border: none;
}
.basic-info-cont table .label,
.address-info-cont table .label,
.contact-info-cont table .label{
    width: 100%;
    max-width: 15%;
    font-weight: 600;
}
.basic-info-cont table .colon,
.address-info-cont table .colon,
.contact-info-cont table .colon{
    width: 100%;
    max-width: 2%;
}