.goals-container{
  width: 100%;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5%;
}
.goals-container img{
  width: 100%;
  max-width: 150px;
}
.goals-container span{
  font-size: 1vw;
  width: 100%;
  margin-bottom: 1%;
}
.goal-desc-cont{
  margin-bottom: 1%;
}
.goals-container h1{
  color: #303030;
  margin-top: 30px;
}
.goals-edit{
  width: 100%;
  max-width: 100%;
}
.goals-edit button{
  width: 100%;
  max-width: 100%;
  padding: 1%;
}