<<<<<<< HEAD
/* .card {
=======
.card {
>>>>>>> 08189b55e18eaf07b75c82c6a52f304d465da798
  margin: 0;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  border-radius: 6px;
  padding: 1rem;
  overflow: hidden;
  background: white;
<<<<<<< HEAD
} */
=======
}
>>>>>>> 08189b55e18eaf07b75c82c6a52f304d465da798
