.educational-container {
    width: 100%;
    display: flex;
    box-sizing: border-box;
    max-width: -webkit-fill-available;
    padding: 2%;
    background-color: white;
    border-radius: 15px;
    margin: 2% 0;
    box-shadow: #00000017 0 0 10px 0px;
}

.educational-container__data {
    width: 100%;
    max-width: 100%;
}

.educ-info-title-cont{
    display: flex;
}

.educ-details-cont{
    display: flex;
    justify-content: space-between;
    margin-top: 1%;
}

.educ-add-cont{
    width: 100%;
    max-width: -webkit-fill-available;
    padding: 2%;
    background-color: white;
    border-radius: 15px;
    margin: 2% 0;
    box-shadow: #00000017 0 0 10px 0px;
}

.educ-add-details-cont{
    width: 100%;
    max-width: 100%;
    margin: 2% 0;
    display: flex;
    flex-direction: column;
}

.level-unit,
.from-to-graduatedyear{
    width: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 2%;
}
.school-degree{
    width: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 2%;
}
.school{
    margin-bottom: 2%;
}
.acad-honor{
    margin-bottom: 0;
    width: 100%;
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
}
.level-unit div,
.school-degree div,
.from-to-graduatedyear div{
    width: 100%;
    max-width: 100%;
}

.from-to-graduatedyear div button{
    width: 100%;
    max-width: 100%;
    display: flex;
    justify-content: flex-end;
}

.level-unit span,
.school-degree span,
.from-to-graduatedyear span,
.acad-honor span{
    width: 100%;
    max-width: 2%;
}
.add-educ-btn{
    width: 100%;
    max-width: 100%;
}
.add-educ-btn button{
    padding: 1%;
}
.awards{
    width: 100%;
    max-width: 49%;
    margin-bottom: 1.5%;
}
.awards .box {
    width: 100%;
    max-width: 100%;
}

.educ-action-btn{
    width: 100%;
    max-width: 10%;
    display: flex;
}
.educational-container__actions{
    width: 100%;
    max-width: 100%;
    display: flex;
}
.educ-edit-btn,
.del-edit-btn{
    width: 100%;
    max-width: 100%;
    display: flex;
}
.educ-edit-btn button{
    margin: 0;
    background-color: #303030;
    border-radius: 0;
}
.del-edit-btn button{
    margin: 0;
    background-color: #d32f2f;
    border-radius: 0;
}

.details-cont{
    width: 100%;
    max-width: 100%;
}
.details-cont table td {
    padding: 10px;
    border: none;
}
.details-cont table .label{
    width: 100%;
    max-width: 20%;
    font-weight: 600;
}
.details-cont table .colon{
    width: 100%;
    max-width: 2%;
}