.vision-container {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 2.5ch;
  text-align: center;
}
.vission-edit{
  width: 7%;
  text-align: center;
  margin: auto;
}
.vission-cancel-edit{
  width: 20%;
  text-align: center;
  margin: auto;
}
.vission-action-bar{
  width: 15%;
  text-align: center;
  margin: auto;
}
.vision-container span{
  text-align: center;
  width: 50%;
}
