.main-navigation__menu-btn {
  width: 3rem;
  height: 3rem;
  background: transparent;
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-right: 2rem;
  cursor: pointer;
}

.main-navigation__menu-btn span {
  display: block;
  width: 3rem;
  height: 2.5px;
  background: white;
}

.main-navigation__title {
  width: 100%;
  max-width: 75%;
  color: #121212;
  padding: 0.5% 1%;
  display: flex;
}

.main-navigation__title a {
  text-decoration: none;
  color: #121212;
  display: flex;
  align-items: center;
}

.main-navigation__header-nav {
  display: none;
  margin-right: 1%;
  padding: 0.5%;
}

.main-navigation__drawer-nav {
  height: 100%;
}

.nav-logo-main-cont {
  width: 100%;
  max-width: 3em;
  display: flex;
  align-items: center;
  margin-right: 1%;
}

.nav-logo-main-cont img {
  width: 100%;
  max-width: 50%;
}

.nav-title-cont {
  display: flex;
}

.nav-title-cont h4 {
  font-size: 1.5vw;
}

@media (min-width: 768px) {
  .main-navigation__menu-btn {
    display: none;
  }

  .main-navigation__header-nav {
    display: block;
    margin-right: 1%;
    padding: 0.5%;
  }
}
