.card{
  width: 100%;
  max-width: 100%;
}
.container {
  text-align: center;
}

.container__image {
  text-align: center;
}

.container__image img {
  width: 100%;
}

/*Overview Start here*/
.chart {
  display: flex;
  justify-content: space-between;
  margin: 2% 0 5%;
}
.chart-cont{
  width: 100%;
  max-width: 50%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.doughnut-cont{
  width: 100%;
  max-width: 75%;
}

.chart h1{
  font-size: 1.5vw;
  font-weight: 700;
  color: #2e2e2e;
  margin-bottom: 2%;
}
.overview-acc-summary-cont{
  width: 100%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  max-width: -webkit-fill-available;
  margin: 2% 0;
}
.total-acc-summary-cont{
  width: 100%;
  max-width: 100%;
}
.total-action-cont{
  width: 100%;
  max-width: 100%;
  display: flex;
  margin: 1% 0 5%;
}
.total-faculty-members-cont{
  margin: 1% 0 5%;
}
.total-action-acc-cont,
.total-faculty-members-cont{
  width: 100%;
  max-width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.total-action-acc-cont span,
.total-faculty-members-cont span {
  width: 100%;
  max-width: 2%;
}
.container{
  width: 100%;
  display: flex;
  box-sizing: border-box;
  max-width: 32%;
  padding: 2%;
  background-color: white;
  border-radius: 15px;
  margin: 1% 0;
  box-shadow: #00000017 0 0 10px 0px;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
}
.tot-acc-img-cont{
  width: 100%;
  max-width: 20%;
  margin-right: 5%;
}
.tot-acc-img-cont img{
  width: 100%;
  max-width: 100%;
}
.total-acc-text{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  max-width: 80%;
}

.admin-overview-title-cont{
  width: 100%;
  max-width: 100%;
  display: flex;
}
.admin-title-blank{
  background-color: #ffbc11;
  color: #febc11;
  width: 1%;
  height: 50px;
}
.admin-title-text{
  background-color: #ffc711;
  padding: 0 1%;
  color: #fff;
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
}
.admin-title-text h1{
  font-size: 1.5vw;
  font-weight: 500;
}
/*Overview Ends here*/

/*Faculty Members start*/
.sort-filter-cont{
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
}
.faculty-list-cont{
  width: 100%;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 2%;
}
.faculty-list-cont .list{
  width: 100%;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
.faculty-list-cont .list .card{
  width: 100%;
  display: flex;
  box-sizing: border-box;
  max-width: 100%;
  padding: 2%;
  background-color: white;
  border-radius: 15px;
  margin: 1% 0;
  box-shadow: #00000017 0 0 10px 0px;
  flex-direction: row;
  align-items: center;
}
.faculty-list-cont .list .card:hover{
  background-color: #cbd9e78f;
}
.faculty-list-cont .list .card button{
  width: 100%;
  max-width: fit-content;
  padding: 0;
  color: #121212;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.faculty-card-container{
  width: 100%;
  max-width: 100%;
  display: flex;
}
.faculty-details-cont{
  display: flex;
  width: 100%;
  max-width: 100%;
  flex-direction: column;
}
.faculty-card-container a {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-decoration: none;
  color: #2e2e2e;
}
.faculty-card-container a:hover{
  color: #2e2e2e;
}
.faculty-card-container .container__image{
  width: 100%;
  max-width: 5%;
  margin-right: 2%;
}
.faculty-card-container .container__image img{
  width: 100%;
  max-width: 100%;
  height: auto;
}
.faculty-name-email-cont{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.faculty-name-email-cont span,
.employeenum-fac-type span{
  width: 100%;
  max-width: 1%;
}
.employeenum-fac-type{
  display: flex;
}
/*Faculty Members end*/