table {
  font-family: 'Poppins', sans-serif;
  border-collapse: collapse;
  width: 100%;
  background-color: white;
  font-size: 14px;
}
.table-header{
  border-radius: 10px;
}
th{
  background-color: #ffc711;
}

td,th{
  border:  1px solid #FFE59D;
  border-collapse: collapse;
}
td,
th {
  text-align: left;
  padding: 8px;
}

.print-button{
  width: 20%;
  max-width: 100%;
  padding: 2%;
  background-color: #ffc000;
  border: none;
  border-radius: 5px;
  font-weight: 600;
  font-size: 1em;
  margin-top: 1em;
  cursor: pointer;
  color: #ffffff;
  margin-bottom: 1em;
}
th:hover {
  color: white;
  cursor: pointer;
}