.civil-container {
    width: 100%;
    display: flex;
    box-sizing: border-box;
    max-width: -webkit-fill-available;
    padding: 2%;
    background-color: white;
    border-radius: 15px;
    margin: 2% 0;
    box-shadow: #00000017 0 0 10px 0px;
}

.civil-container__data {
    width: 100%;
    max-width: 100%;
}

.civ-service-title-cont{
    display: flex;
}

.civ-service-details-cont{
    display: flex;
    justify-content: space-between;
    margin-top: 1%;
}
.civil-serv-edit-cont{
    width: 100%;
    max-width: -webkit-fill-available;
    padding: 2%;
    background-color: white;
    border-radius: 15px;
    margin: 2% 0;
    box-shadow: #00000017 0 0 10px 0px;
}
.civil-service-cont{
    width: 100%;
    max-width: 100%;
    margin: 2% 0;
    display: flex;
    flex-direction: column;
}

.civil-service-cont div{
    margin-bottom: 1%;
    flex: 1;
}

.civ-ser-btn{
    width: 100%;
    max-width: 100%;
}
.civ-ser-btn button{
    padding: 1%;
    margin: 0;
}
.civ-service-action-btn{
    width: 100%;
    max-width: 10%;
    display: flex;
}
.civil-container__actions{
    width: 100%;
    max-width: 100%;
    display: flex;
}
.civ-edit-btn,
.civ-del-btn{
    width: 100%;
    max-width: 100%;
    display: flex;
}
.civ-edit-btn button{
    margin: 0;
    background-color: #303030;
    border-radius: 0;
}
.civ-del-btn button{
    margin: 0;
    background-color: #d32f2f;
    border-radius: 0;
}
.civ-service-details{
    width: 100%;
    max-width: 100%;
}
.civ-service-details table td{
    padding: 10px;
    border: none;
}
.civ-service-details table .label{
    width: 100%;
    max-width: 20%;
    font-weight: 600;
}
.civ-service-details table .colon{
    width: 100%;
    max-width: 2%;
}