.login-mode-title{
  margin-bottom: 2em;
  color: #404040;
}

.form-control{
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
  width: 100%;
  max-width: 75%;
}

#email,
#employeeNum,
#fName,
#lName,
#password{
  border-radius: 5px;
}

#email::placeholder,
#password::placeholder{
  color: #404040;
  font-size: 0.9vw;
  opacity: 50%;
}

.form-control label{
  color: #404040;
  font-size: 1vw;
  display: none;
}

.form-control p{
  color: #f44336;
  font-size: 0.75em;
  margin-top: 0.2em;
  text-align: left;
}
