.top-bar {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 100%;
    margin-top: 1%;
}

.top-bar span {
    width: 100%;
    max-width: 0.5%;
}

.ann-search{
    width: 100%;
    max-width: 80%;
}

.ann-filter,
.ann-date{
    width: 100%;
    max-width: max-content;
    padding: 0 0 0 1%;
}

.ann-filter div,
.ann-date div{
    margin: 0;
    width: 100%;
    max-width: 100%;
}

.ann-search input {
    max-width: 95%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    /* padding: 2.5%; */
    font-family: inherit;
    border: 1px solid #bbbec4;
    border-radius: 5px;
    background-color: transparent;
    height: 40px;
    padding: 7px 2%;
}