.modal {
  width: 100%;
  max-width: 500px;
  z-index: 100;
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  background: white;
  box-shadow: 0 2px 8px rgb(0 0 0 / 26%);
  border-radius: 10px;
}

.modal p {
  font-size: 16px;
  padding: 0 4%;
}

.modal__content{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2%;
  margin-top: 5%;
}

.modal__content div{
  width: 100%;
  max-width: 100%;
  /* padding: 1%; */
}

.modal__header {
  width: 100%;
  padding: 0.5rem 0;
  border-radius: 10px 10px 0 0;
  text-indent: 1rem;
  background: #1e1e1e;
  color: white;
}

.modal__header h2 {
  margin: 0.5rem;
}

.modal__footer {
  padding: 1rem 0.5rem;
}

.modal__footer .upload{
  display: block;
}

.modal__footer .profile-upload{
  display: block;
}

.modal__footer div{
  display: flex;
  width: 100%;
  max-width: 100%;
  justify-content: center;
  align-items: center;
}

.mission-cancel-edit span{
  width: 100%;
  max-width: 2%;
}

.actions span {
  width: 100%;
  max-width: 2%;
}

@media (min-width: 768px) {
  .modal {
    /* left: calc(50% - 20rem); */
    width: 40rem;
  }
}

.modal-enter {
  transform: translateY(-10rem);
  opacity: 0;
}

.modal-enter-active {
  transform: translateY(0);
  opacity: 1;
  transition: all 200ms;
}

.modal-exit {
  transform: translateY(0);
  opacity: 1;
}

.modal-exit-active {
  transform: translateY(-10rem);
  opacity: 0;
  transition: all 200ms;
}
.btn-cancel button,
.cancel-yes{
  background-color: #d32f2f;
}