.mission-container {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 2.5ch;
}
.mission-edit{
  width: 7%;
  text-align: center;
  margin: auto;
}
.mission-cancel-edit{
  width: 20%;
  text-align: center;
  margin: auto;
}
.mission-action-bar{
  width: 15%;
  text-align: center;
  margin: auto;
}
.mission-container span{
  text-align: center;
  width: 50%;
}

