.mission-container{
  width: 100%;
  max-width: 45%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.mission-container img{
  width: 100%;
  max-width: 150px;
}
.mission-container span{
  text-align: center;
  font-size: 1vw;
}
.mission-container h1{
  color: #303030;
  margin-top: 5%;
}
.mission-edit{
  width: 100%;
  max-width: 100%;
}
.mission-edit button{
  width: 100%;
  max-width: 100%;
  padding: 2%;
}
.mission-edit-form{
  width: 100%;
  max-width: 45%;
}
.mission-edit-form h1{
  margin-bottom: 2%;
}
.mission-edit-form div{
  width: 100%;
  max-width: 100%;
  display: flex;
  justify-content: space-between;
}
.action-bar button{
  width: 100%;
  max-width: 50%;
}
.action-bar span{
  width: 100%;
  max-width: 5%;
}