.top-action {
  width: 100%;
}

.top-action ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 100%;
}

.top-action li {
  cursor: pointer;
  color: #ffffff;
  background: #ffc711;
  font: inherit;
  /* height: 100%; */
  /* width: 4rem; */
  text-align: center;
  padding: 0.5% 4%;
  display: flex;
  align-items: center;
  border-radius: 5px;
  box-shadow: #e1e1e1 0 0 6px;
  font-weight: 600;
}

.top-action li:hover,
.top-action li:active,
.top-action li.active {
  background: #292929;
  color: #ffffff;
}

.top-action a:hover,
.top-action a:active,
.top-action a.active {
  background: #ffffff;
  border-color: #292929;
  color: #000000;
}

.top-action button {
  cursor: pointer;
  border: 1px solid #292929;
  color: #292929;
  background: transparent;
  padding: 0.5rem;
  font: inherit;
}

.top-action button:focus {
  outline: none;
}

.top-action button:hover,
.top-action button:active {
  background: #292929;
  color: white;
}
