.work-container {
    max-width: -webkit-fill-available;
    padding: 2%;
    background-color: white;
    border-radius: 15px;
    margin: 2% 0;
    box-shadow: #00000017 0 0 10px 0px;
}

.work-container__data {
    width: 100%;
    max-width: 100%;
}

.work-info-title-cont{
    display: flex;
}

.work-info-details-cont{
    margin-top: 1%;
    display: flex;
    justify-content: space-between;
}

.work-exp-edit-cont{
    width: 100%;
    max-width: -webkit-fill-available;
    padding: 2%;
    background-color: white;
    border-radius: 15px;
    margin: 2% 0;
    box-shadow: #00000017 0 0 10px 0px;
}
.work-exp-cont{
    width: 100%;
    max-width: 100%;
    margin: 2% 0;
    display: flex;
    flex-direction: column;
}
.position-cont{
    width: 100%;
    max-width: 100%;
    margin-bottom: 2%;
}
.position-cont div{
    width: 100%;
    max-width: 100%;
}
.company-dept-cont,
.status-of-apt,
.from-to-govt,
.salary{
    width: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: row;
    margin-bottom: 2%;
}
.salary{
    margin: 0;
}
.company-dept-cont div,
.status-of-apt div,
.from-to-govt div,
.salary div{
    width: 100%;
    max-width: 100%;
}
.company-dept-cont span,
.from-to-govt span,
.salary span{
    width: 100%;
    max-width: 2%;
}
.work-exp-btn{
    width: 100%;
    max-width: 100%;
}
.work-exp-btn button{
    padding: 1%;
}
.work-action-btn{
    width: 100%;
    max-width: 10%;
    display: flex;
}
.work-container__actions{
    width: 100%;
    max-width: 100%;
    display: flex;
}
.work-edit-btn,
.work-del-btn{
    width: 100%;
    max-width: 100%;
    display: flex;
}
.work-edit-btn button{
    margin: 0;
    background-color: #303030;
    border-radius: 0;
}
.work-del-btn button{
    margin: 0;
    background-color: #d32f2f;
    border-radius: 0;
}

.work-dets-cont{
    width: 100%;
    max-width: 100%;
}
.work-dets-cont table td{
    padding: 10px;
    border: none;
}
.work-dets-cont table .label{
    width: 100%;
    max-width: 20%;
    font-weight: 600;
}
.work-dets-cont table .colon{
    width: 100%;
    max-width: 2%;
}