.work-container {
    max-width: -webkit-fill-available;
    padding: 2%;
    background-color: white;
    border-radius: 15px;
    margin: 2% 0;
    box-shadow: #00000017 0 0 10px 0px;
}

.work-container__data {
    width: 100%;
    max-width: 100%;
}

.work-info-title-cont{
    display: flex;
}

.work-info-details-cont{
    margin-top: 1%;
    display: flex;
    justify-content: space-between;
}