.objectives-container{
  width: 100%;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.bsit-blis-obj{
  width: 100%;
  max-width: 100%;
  display: flex;
  justify-content: space-between;
}
.bsit-obj,
.blis-obj{
  width: 100%;
  max-width: 45%;
  display: flex;
  flex-direction: column;
}
.bsit-obj img,
.blis-obj img{
  width: 100%;
  max-width: 150px;
}
.enumeration-cont span{
  font-size: 1vw;
  margin-bottom: 1%;
}
.bsit-obj h1,
.blis-obj h1{
  color: #303030;
  margin-top: 5%;
}
.enumeration-cont{
  height: 25vh;
  overflow: scroll;
  overflow-x: hidden;
  margin-top: 2%;
  margin-left: 5%;
}
.obj-img{
  display: flex;
  justify-content: center;
}
.obj-edit{
  width: 100%;
  max-width: 100%;
}
.obj-edit button{
  width: 100%;
  max-width: 100%;
  padding: 1%;
}

.bsit-obj-form{
  margin-bottom: 5%;
}

.bsit-obj-txtfield,
.blis-obj-txtfield{
  width: 100%;
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 1.5% 0;
}
.bsit-obj-txtfield div,
.blis-obj-txtfield div{
  width: 100%;
  max-width: 100%;
}
.action-bar{
  width: 100%;
  max-width: 100%;
  display: flex;
  justify-content: space-between;
}
.action-bar button{
  width: 100%;
  max-width: 50%;
  padding: 1%;
}
.action-bar span{
  width: 100%;
  max-width: 5%;
}