.home-main {
  display: flex;
  background-color: #f4f7ff;
}

.home-main-container {
  width: 100%;
  height: 100vh;
}

.announcement-container {
  width: 100%;
  display: flex;
  box-sizing: border-box;
  margin-top: 75px;
  flex-direction: column;
  align-items: center;
}
.announcement-container h1{
  font-size: 3vw;
  color: #303030;
  width: 100%;
  max-width: 100%;
}
.announcment-header button{
  width: 100%;
  max-width: 240px;
  padding: 1%;
  background-color: #ffc000;
  margin-top: 1.5%;
}