.vmgo-main {
  display: flex;
  flex-direction: column;
}
.vmgo-main-container {
  width: 100%;
}
.vmgo-mainsub-container {
  box-sizing: border-box;
  width: 100%;
  max-width: 100%;
  display: flex;
  flex-direction: column;
}
.vmgo-cont{
  width: 100%;
  max-width: 80%;
  margin: 3% auto;
}
.vision-mission-cont{
  width: 100%;
  max-width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 5%;
  flex-wrap: wrap;
}
.cict-banner img{
  width: 100%;
  object-fit: cover;
}