.announcement-item {
  width: 100%;
  border: 1px solid black;
}

.announcment-header {
  width: 100%;
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 1% 3%;
  box-sizing: border-box;
}
