.action-bar {
  width: 100%;
}

.action-bar button {
  width: 100%;
  max-width: 50%;
}
.edit-announcement-cont{
  width: 100%;
  max-width: 80%;
  margin: 3% auto;
  padding: 3%;
  background-color: #ffffff;
  border-radius: 15px;
  box-shadow: #ebebeb 0 0 10px 5px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
.announce-edit-form{
  width: 100%;
  max-width: 100%;
}
.announce-edit-form .form-control{
  width: 100%;
  max-width: 100%;
}
.announce-edit-form .form-control button{
  width: 100%;
  max-width: 100%;
  padding: 1%;
  background-color: #ffc000;
  border: none;
  border-radius: 5px;
  font-weight: 600;
  font-size: 1em;
  margin-top: 1em;
  cursor: pointer;
  color: #ffffff;
}