.pagination {
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
}
.page-item {
  list-style: none;
  padding: 5px;
}

li:hover {
  cursor: pointer;
  border: 1px solid black;
}

.active {
  border: 1px solid black;
}
